body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #43cea2, #185a9d);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.campo {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #43cea2;
    box-shadow: 0 0 8px rgba(67, 206, 162, 0.5);
}